* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #f5f5f5;
    display: block;
    overflow: auto;
    margin-bottom: 10px;
}

.header-content {
    width: calc(95% - 16px);
    margin: 0 auto;
    max-width: 900px;
    padding: 20px 0;
}

.header-title a {
    font-size: 30px;
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    float: left;
}

nav {
    display: inline;
    float: right;
    padding-top: 6px;
    margin-left: 20px;
}

nav a {
    margin-left: 30px;
    vertical-align: middle;
    font-size: 17px;
    text-decoration: none;
    color: #3F51B5;
    float: left;
}

nav a:hover {
    border-color: #3949AB;
}

h1 {
    font-weight: 500;
}

h3 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 5px;
}

.ribbon {
    width: 100%;
    height: 40vh;
    background-color: rgba(63, 81, 181, 0.85);
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: -35vh;
    background-color: #fff;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    width: calc(90% - 16px);
    max-width: 800px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

.content {
    padding: 20px;
}

p {
    color: #424242;
    line-height: 22px;
}

a {
    text-decoration: none;
    color: #3D5AFE;
}

a:hover {
    text-decoration: underline;
    border-color: #3954ed;
}

textarea {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    /* font-family:  monospace, 'Lucida Console', 'Monaco', 'Courier New', serif; */
    width: 100%;
    height: 40vh;
    padding: 10px 10px;
    font-size: 17px;
    line-height: 25px;
}

#valid, #invalid {
    display: none;
}

#valid-content a, #invalid-content a {
    font-size: 17px;
    display: inline-block;
    margin-bottom: 10px;
    max-width: 100%;
    word-wrap: break-word;
}

#valid-hidden, #invalid-hidden {
    position: absolute;
    left: -999em;
}

#valid-actions, #invalid-actions {
    display: flex;
}

button {
    margin: 5px 0;
    padding: 14px 25px;
    border-radius: 3px;
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: 600;
}

button:focus {
    outline: none;
}

button:hover {
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

.copy-btn, .open-btn {
    color: black;
    background-color: #E0E0E0;
    font-weight: 500;
    text-transform: none;
}

.open-btn {
    margin-left: 5px !important;
}

#reset {
    background-color: #EF5350;
}

#convert {
    margin-left: 15px;
    background-color: #58c15d;
    display: inline;
}

#message {
    display: inline;
    float: right;
    font-size: 17px;
    margin-top: 15px;
}

@media (max-width: 623px) {
    .header-content {
        margin-bottom: 10px;
    }

    nav {
        display: block;
        float: left;
        clear: left;
        margin-left: 0;
        margin-top: 5px;
        padding-top: 0;
    }

    nav a {
        font-size: 15px;
        margin-left: 0;
        margin-bottom: 2px;
    }

    nav a:first-child {
        margin-right: 20px;
    }

    textarea {
        font-size: 15px;
        line-height: 20px;
    }

    #valid-copy, #invalid-copy {
        width: 53.5% !important;
    }

    #valid-open, #invalid-open {
        float: right;
        margin-left: 0;
        width: 43.5% !important;
    }

    .actions {
        margin-top: 5px;
    }

    #reset, #convert {
        width: 47.5% !important;
        margin: 0;
        padding: 14px 15px;
    }

    #convert {
        float: right;
    }

    #message {
        margin-bottom: 15px;
        float: left;
        width: 100%;
    }

    .mobile-hide {
        display: none;
    }
}